{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ClavisteV</title>
    <script src="https://kit.fontawesome.com/a0769e5497.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!-- BLOQUE CSS-->
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/'%}css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light col-12" >
            <a class="navbar-brand" href="#">
                <img src="{% static 'core/'%}img/clav-verde-icono.ico" width="40" height="40" class="d-inline-block align-top" alt="">
            <a class="navbar-brand" id="nombre-logo" href="#">ClavisteV</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav" id="menu-opciones">
                <a class="nav-link active" href="#" id="nav-inicio">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#" id="nav-formulario" >Planes Hogar</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nav-mantenedor" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                      Mantenedor
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="#">Listado Celulares</a></li>
                      <li><a class="dropdown-item" href="#">Agregar celular</a></li>
                      <li><a class="dropdown-item" href="#">Modificar celular</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                <a class="nav-link" id="nav-contacto" href="#">Contacto</a>
              </div>
            </div>
            <div class="container-fluid col" id="clima">
                <div id="location"><p></p></div>
                <div id="temperature"><p></p></div>
            </div>
        </nav>
          
    </header>

    <div class="container text-center" id="container">

        {% block contenido %}
            
        {% endblock %}

    </div>
    
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="left col-9">
                    <h6>CLAVISTEV</h6>
                    <p class="text-justify">
                        Sucursal Principal - Santiago Centro 394 <br>
                        Linea Telefónica 600 200 8000 <br>
                        © 2021 - Website Designed by MIA-SAF Ltda
                    </p>
                </div>
    
                <div class="right col-3">
                    <h6>SÍGUENOS EN REDES SOCIALES</h6>
                    <ul class="footer-links d-flex justify-content-between" id="logos-redes">
                        <li><a href="https://www.facebook.com/ClavisteV-100393962191865" target="_blank"><i
                                    class="fab fa-facebook"></i></a></li>
                            <li><a href=" https://twitter.com/clavistev" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/clavistev/" target="_blank"><i
                                    class="fab fa-instagram"></i></a></li>
    
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="{% static 'core/'%}js/formulario.js"></script>
    <script src="{% static 'core/'%}js/validarRut.js"></script>
    <script src="{% static 'core/'%}js/api.js"></script>

    <!-- BlOQUE JAVASCRIPT-->
    {% block javascript %}
    {% endblock %}
</body>
</html>